@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: red;
  width: 0vm;
  font-family: "Fira Sans", sans-serif;
  height: 738px;
}

.sidebar nav {
  padding: 40px;
}

.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 33px 0;
}

.main {
  background-color: yellow;
  width: fit-content;
  height: fit-content;

}
.container {
  display: flex;
  width: auto;
  height: auto;
}


.infocontainer{
	background-color: rgb(251, 3, 156);
	height: 450px;
	width: 100vw;
	margin: 144px auto;
  display: flex;
  justify-content: space-around;
  position: center;
}

.devinfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Source Code Pro', monospace;;
}

.hello{
  font-size: 85px;


}
.name{
  font-size: 70px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;

}
.about{
  font-size: 50px;
}

.devpic{
  height: 78vh;
 width: 381px;
 display: flex;
}